<h2>Mise à jour mot de passe de connexion</h2>
<form class="password-form" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <mat-form-field appearance="fill">
    <mat-label>Nouveaux mot de passe de connexion</mat-label>
    <input matInput formControlName="newPassword" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe admin</mat-label>
    <input matInput formControlName="adminPassword" />
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!passwordForm.valid">Mettre à jour</button>
</form>

<h2>Mise à jour mot de passe admin</h2>
<form class="password-form" (ngSubmit)="onAdminSubmit()" [formGroup]="adminPasswordForm">
  <mat-form-field appearance="fill">
    <mat-label>Ancien mot de passe admin</mat-label>
    <input matInput formControlName="oldAdminPassword" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nouveau mot de passe admin</mat-label>
    <input matInput formControlName="newAdminPassword" />
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!adminPasswordForm.valid">Mettre à jour</button>
</form>
