@import "../../../../styles/variables";

.delete-icon {
  margin: auto;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.products-table {
  width: 100%;
}

.table-responsive {
  overflow-x: auto;
  margin: 20px 0 0 0;
  max-height: 75%;

  .mat-row .mat-cell {
    // border-top: 1px solid transparent;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0 10px;
  }

  .message {
    width: fit-content;
    margin: auto;
  }

  .action-column {
    width: 1px;
  }
}
