<mat-toolbar class="bottom-nav-bar">
  <button
    mat-icon-button
    [matMenuTriggerFor]="repairMenu"
    routerLinkActive="active"
  >
    <mat-icon>handyman</mat-icon>
    <mat-menu #repairMenu>
      <button mat-menu-item>
        <a mat-menu-item routerLink="/reparations">
          <mat-icon>manage_search</mat-icon>
          <span>Gérer</span>
        </a>
      </button>
      <button mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        <span>Créer</span>
      </button>
    </mat-menu>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="orderMenu"
    routerLinkActive="active"
  >
    <mat-icon>local_shipping</mat-icon>
    <mat-menu #orderMenu>
      <button mat-menu-item>
        <a mat-menu-item routerLink="/commandes">
          <mat-icon>manage_search</mat-icon>
          <span>Gérer</span>
        </a>
      </button>
      <button mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        <span>Créer</span>
      </button>
    </mat-menu>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="paintMenu"
    routerLinkActive="active"
  >
    <mat-icon>format_paint</mat-icon>
    <mat-menu #paintMenu>
      <button mat-menu-item>
        <a mat-menu-item routerLink="/peintures">
          <mat-icon>manage_search</mat-icon>
          <span>Gérer</span>
        </a>
      </button>
      <button mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        <span>Créer</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>
