@import "../../../styles/variables";

.expenses-table {
  th,
  td {
    padding-right: 20px;
  }

  .name-cell {
    max-width: 200px;
  }

  .price-cell {
    text-align: end;
  }

  .quantity-cell {
    text-align: center;
  }

  .total-row {
    font-weight: bold;
  }

  thead {
    color: $color-primary-dark;
  }

  tfoot {
    color: $color-primary-main;
  }
}
