@import "../../../styles/variables";

.client-info-container {
    position: relative;
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px;
    min-width: 230px;
    width: fit-content;
    margin: 15px 0 0 0;

    .title {
        position: absolute;
        top: -16px;
        left: 5px;
        font-weight: bold;
        background-color: $color-background-dark;
        width: 50px;
        text-align: center;
        font-size: small;
    }

    .info-title {
        font-weight: bold;
        color: $color-primary-main;
    }

    p {
        margin: 0;
    }

}