@import "../../../styles/variables";

.client-info-container {
    position: relative;
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px;
    min-width: 230px;
    max-width: 280px;
    width: fit-content;
    margin: 15px 0 0 0;

    .title {
        position: absolute;
        top: -16px;
        left: 5px;
        font-weight: bold;
        background-color: $color-background-dark;
        width: 80px;
        text-align: center;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    p {
        margin: 0;
    }

    .icons {
        cursor: pointer;
        font-size: 20px;
        color: $color-secondary-main;
    
        &:hover {
          color: $color-primary-main;
        }
      }

}