<div class="overview-container">
  <div class="overview-header">
    <mat-icon
      *ngIf="isMobileView$ | async"
      class="filters-icon"
      (click)="toggleExpansionPanel()"
      >filter_list</mat-icon
    >
    <img *ngIf="!(isMobileView$ | async)" class="shop-logo" src="assets/images/logo.png">
    <h1 class="overview-header-title">Liste des {{ itemsTypeTranslation }}s</h1>


    <ng-template #filters>
      <mat-form-field appearance="fill" class="overview-header-search">
        <mat-label>Recherche</mat-label>
        <input matInput (change)="onSearch()" [(ngModel)]="searchInput"/>
        <button *ngIf="searchInput" matSuffix mat-icon-button (click)="deleteSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="filters-container">
        <mat-label>Filtrer : </mat-label>
        <mat-radio-group
          [value]="selectedState$ | async"
          (change)="updateStateFilter($event.value)"
          [disabled]="searchInput !== ''"
        >
          <mat-radio-button value="ongoing">En cours</mat-radio-button>
          <mat-radio-button value="closed">Historique</mat-radio-button>
        </mat-radio-group>
        <div class="status-list-cont">
          <mat-checkbox
            *ngFor="let status of statusList"
            [value]="status"
            (change)="updateFilteredStatus(status)"
            [disabled]="(selectedState$ | async) === 'closed' || searchInput !== ''"
            [checked]="!(filteredStatus$ | async).includes(status)"
            >{{ status }}</mat-checkbox
          >
        </div>
      </div>
    </ng-template>

    <ng-template
      [ngTemplateOutlet]="filters"
      *ngIf="!(isMobileView$ | async)"
    ></ng-template>

    <mat-expansion-panel
      *ngIf="isMobileView$ | async"
      [expanded]="panelOpenState"
      class="filters-expansion-panel"
    >
      <ng-template [ngTemplateOutlet]="filters"></ng-template>
    </mat-expansion-panel>
  </div>

  <app-items-table [items]="items" [itemsType]="itemsType" [selectedItem]="selectedItem" [displayLoadMoreHistory$]="displayLoadMoreHistory$" [isLoading$]="isLoading$" (selectItemEvent)="selectItem($event)" (loadMoreHistoryEvent)="loadMoreHistory()"></app-items-table>

  <app-item-details [item]="selectedItem" [itemType]="itemsType" (updateItemEvent)="updateItem($event)"></app-item-details>

    <!-- <div class="row first-row">
      <app-client-info [client]="selectedItem.client"></app-client-info>
      <app-status-list
        [status]="selectedItem.status"
        [itemType]="itemsType"
        (statusUpdatedEvent)="updateItem($event)"
      ></app-status-list>
      <app-localization-list
        *ngIf="itemsType === 'repair'"
        [repair]="selectedItem"
      ></app-localization-list>
      <div class="expenses-table-cont">
        <app-expense-table
        [products]="selectedItem.products"
        [expenses]="selectedItem.expenses"
        ></app-expense-table>
        <mat-icon (click)="copyToClipboard()" class="clipboard-icon">content_copy</mat-icon>
      </div>
    </div>
    <div class="row second-row">
      <div>
        <mat-form-field class="input-info creation-date">
          <mat-label>Création</mat-label>
          <input
            matInput
            type="text"
            [value]="selectedItem.createdAt | date: 'd/M/yy'"
            [readonly]="true"
          />
        </mat-form-field>
        <mat-form-field class="input-info update-date">
          <mat-label>Dernière modification</mat-label>
          <input
            matInput
            type="text"
            [value]="selectedItem.updatedAt | date: 'd/M/yy'"
            [readonly]="true"
          />
        </mat-form-field>
        <mat-form-field class="input-info target-delivery-date">
          <mat-label>Date livraison</mat-label>
          <input
            matInput
            type="text"
            [value]="selectedItem.deliveryDate | date: 'd/M/yy'"
            [readonly]="true"
          />
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="itemsType === 'paint'" class="input-info">
        <mat-label>Couleur</mat-label>
        <input
          matInput
          type="text"
          [value]="selectedItem.color"
          [readonly]="true"
        />
      </mat-form-field>
      <mat-form-field
        *ngIf="itemsType === 'paint' || itemsType === 'repair'"
        class="input-info"
      >
        <mat-label>Description vélo</mat-label>
        <input
          matInput
          type="text"
          [value]="selectedItem.bikeDescription"
          [readonly]="true"
        />
      </mat-form-field>
      <mat-form-field class="input-info">
        <mat-label>Commentaire</mat-label>
        <input matInput [value]="selectedItem.comment" [readonly]="true" />
      </mat-form-field>
    </div>
    <div class="row third-row">
      <mat-form-field class="input-info">
        <mat-label>N° facture</mat-label>
        <input
          matInput
          type="text"
          [value]="selectedItem.billRef"
          [readonly]="true"
        />
      </mat-form-field>
      <mat-form-field class="input-info">
        <mat-label>V+1</mat-label>
        <input
          matInput
          type="text"
          [value]="selectedItem.commercialOpportunity"
          [readonly]="true"
        />
      </mat-form-field>
    </div> -->
</div>
