@import "../../../styles/variables";

.overview-container {
  height: 100%;
  position: relative;
  background-color: $color-background-light;

  .top-container {
    height: 60%;

    .page-title {
      position: absolute;
      top: 10px;
      left: 50%;
    }

    .options-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      mat-radio-button {
        margin-right: 10px;
      }
    }

    .items-table {
      width: 100%;
    }
  }

  .item-details {
    height: 40%;
    background-color: $color-background-dark;
    display: flex;
    flex-direction: column;
    overflow: overlay;

    .row {
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;

      * {
        margin-right: 10px;
      }
    }

    .first-row, .second-row, .third-row {
      justify-content: space-between;
    }

    .input-info {
      width: 108px;
      height: 40px;
      // label {
      //   font-weight: bolder;
      //   color: black;
      //   font-size: 1.2em;
      // }
    }
  }

  section {
    padding: 5px 10px 0 10px;
  }
}

.table-responsive {
  overflow-x: auto;
  height: 300px;

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  .selected-row {
      background-color: cornflowerblue;
  }
}
