@import "../../../styles/variables";

.overview-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;

  .overview-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;

    .filters-icon {
      position: absolute;
      top: 50px;
    }

    .overview-header-title {
      flex-basis: 50%;
    }

    .overview-header-search {
      flex-basis: 30%;
    }

    mat-radio-button {
      margin-right: 10px;
    }

    .filters-icon {
      cursor: pointer;
    }

    @media (max-width: $screen-md) {
      .overview-header-title,
      .overview-header-search {
        flex-basis: 100%;
        margin: 0 0 10px;
        width: 100%;
      }

      .overview-header-title {
        text-align: center;
      }

      .mat-expansion-panel {
        width: 100%;
        box-shadow: none;
        background-color: inherit;
      }

      // .mat-expansion-panel-body {
      //   padding: 0 !important;
      // }
    }
  }

  .items-table {
    width: 100%;
  }

  .item-details {
    flex-basis: 45%;
    margin: 0 -10px;
    padding: 5px 10px;
    background-color: $color-background-dark;
    display: flex;
    flex-direction: column;
    overflow: overlay;

    @media (max-width: $screen-md) {
      flex-basis: 44%;
    }

    .row {
      display: flex;
      margin-top: 15px;
      flex-wrap: wrap;

      * {
        margin-right: 10px;
      }
    }

    .first-row,
    .second-row,
    .third-row {
      justify-content: space-between;
    }

    .input-info {
      width: 108px;
      height: 40px;
      // label {
      //   font-weight: bolder;
      //   color: black;
      //   font-size: 1.2em;
      // }
    }
  }

  section {
    padding: 5px 10px 0 10px;
  }
}

.table-responsive {
  overflow-x: auto;
  flex-basis: 45%;
  margin: 0 0 15px 0;

  .mat-row .mat-cell {
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  .selected-row {
    background-color: cornflowerblue;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0 10px;
  }
}
