<div class="overview-container">
  <section class="top-container">
    <button mat-raised-button color="primary" (click)="openItemCreationDialog()">
      Créer une {{ itemsTypeTranslation }}
    </button>
    <h1 class="page-title">Liste des {{ itemsTypeTranslation }}s</h1>

    <div class="options-container">
      <div>
        <mat-label>Filtrer par statut : </mat-label>
        <mat-radio-group [(ngModel)]="selectedStatus" (change)="updateStatusFilter()">
          <mat-radio-button *ngFor="let status of statusList" [value]="status">{{status}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Recherche</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8 table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="items-table">
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
          <td mat-cell *matCellDef="let item">
            {{ item.client.firstName }} {{ item.client.lastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
          <td mat-cell *matCellDef="let item">
            {{ item.client.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bikeDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description vélo
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.bikeDescription }}
          </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Produit</th>
          <td mat-cell *matCellDef="let item">
            {{ item.products[0].name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Prix unitaire
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.products[0].price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité</th>
          <td mat-cell *matCellDef="let item">
            {{ item.products[0].quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fournisseur</th>
          <td mat-cell *matCellDef="let item">
            {{ item.products[0].provider.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
          <td mat-cell *matCellDef="let item">{{ item.status }}</td>
        </ng-container>

        <ng-container matColumnDef="targetDeliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date livraison estimée
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.targetDeliveryDate | date: "d/M/yy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Couleur</th>
          <td mat-cell *matCellDef="let item">{{ item.color }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectItem(row)"
          [class.selected-row]="selectedItem == row"
        ></tr>
      </table>
    </div>
  </section>

  <section *ngIf="selectedItem" class="item-details">
    <div class="row first-row">
      <app-client-info [client]="selectedItem.client"></app-client-info>
      <app-status-list [status]="selectedItem.status" [itemType]="itemsType" (statusUpdatedEvent)="updateItem($event)"></app-status-list>
      <app-localization-list *ngIf="itemsType === 'repair'" [repair]="selectedItem"></app-localization-list>
      <app-expense-table [products]="selectedItem.products" [expenses]="selectedItem.expenses"></app-expense-table>
    </div>
    <div class="row second-row">
      <div>
        <mat-form-field class="input-info creation-date">
          <mat-label>Création</mat-label>
          <input matInput type="text" [value]="selectedItem.createdAt | date: 'd/M/yy'" [readonly]="true">
        </mat-form-field>
        <mat-form-field class="input-info update-date">
          <mat-label>Dernière modification</mat-label>
          <input matInput type="text" [value]="selectedItem.updatedAt | date: 'd/M/yy'" [readonly]="true">
        </mat-form-field>
        <mat-form-field class="input-info target-delivery-date">
          <mat-label>Date livraison</mat-label>
          <input matInput type="text" [value]="selectedItem.targetDeliveryDate | date: 'd/M/yy'" [readonly]="true">
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="itemsType === 'paint'" class="input-info">
        <mat-label>Couleur</mat-label>
        <input matInput type="text" [value]="selectedItem.color" [readonly]="true">
      </mat-form-field>
      <mat-form-field *ngIf="itemsType === 'paint' || itemsType === 'repair'" class="input-info">
        <mat-label>Description vélo</mat-label>
        <input matInput type="text" [value]="selectedItem.bikeDescription" [readonly]="true">
      </mat-form-field>
      <mat-form-field class="input-info">
        <mat-label>Commentaire</mat-label>
        <input matInput [value]="selectedItem.comment" [readonly]="true">
      </mat-form-field>
      
    </div>
    <div class="row third-row">
      <mat-form-field class="input-info">
        <mat-label>N° facture</mat-label>
        <input matInput type="text" [value]="selectedItem.billRef" [readonly]="true">
      </mat-form-field>
      <mat-form-field class="input-info">
        <mat-label>V+1</mat-label>
        <input matInput type="text" [value]="selectedItem.commercialOpportunity" [readonly]="true">
      </mat-form-field>
    </div>
  </section>
</div>
