.overview-container {
    height: 100%;
    position: relative;

    .top-container {
        background-color: hotpink;
        height: 60%;

        .page-title {
            position: absolute;
            top: 10px;
            left: 50%;
        }

        .options-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .items-table {
            width: 100%;
        }
    }
    
    .item-details {
        background-color: grey;
        height: 40%;
    }

    section {
        padding: 10px;
    }
}

.table-responsive {
    overflow-x: auto;
    height: 300px;
}