<div class="overview-container">
  <div class="overview-header">
    <mat-icon
      *ngIf="isMobileView$ | async"
      class="filters-icon"
      (click)="toggleExpansionPanel()"
      >filter_list</mat-icon
    >
    <img *ngIf="!(isMobileView$ | async)" class="shop-logo" src="assets/images/logo.png">
    <h1 class="overview-header-title">Liste des {{ itemsTypeTranslation }}s</h1>


    <ng-template #filters>
      <mat-form-field appearance="fill" class="overview-header-search">
        <mat-label>Recherche</mat-label>
        <input matInput (change)="onSearch()" [(ngModel)]="searchInput"/>
        <button *ngIf="searchInput" matSuffix mat-icon-button (click)="deleteSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="filters-container">
        <mat-label>Filtrer : </mat-label>
        <mat-radio-group
          [value]="selectedState$ | async"
          (change)="updateStateFilter($event.value)"
          [disabled]="searchInput !== ''"
        >
          <mat-radio-button value="ongoing">En cours</mat-radio-button>
          <mat-radio-button value="closed">Historique</mat-radio-button>
        </mat-radio-group>
        <div class="status-list-cont">
          <mat-checkbox
            *ngFor="let status of statusList"
            [value]="status"
            (change)="updateFilteredStatus(status)"
            [disabled]="(selectedState$ | async) === 'closed' || searchInput !== ''"
            [checked]="!(filteredStatus$ | async).includes(status)"
            >{{ status }}</mat-checkbox
          >
        </div>
      </div>
    </ng-template>

    <ng-template
      [ngTemplateOutlet]="filters"
      *ngIf="!(isMobileView$ | async)"
    ></ng-template>

    <mat-expansion-panel
      *ngIf="isMobileView$ | async"
      [expanded]="panelOpenState"
      class="filters-expansion-panel"
    >
      <ng-template [ngTemplateOutlet]="filters"></ng-template>
    </mat-expansion-panel>
  </div>

  <app-items-table [items]="items" [itemsType]="itemsType" [selectedItem]="selectedItem" [displayLoadMoreHistory$]="displayLoadMoreHistory$" [isLoading$]="isLoading$" (selectItemEvent)="selectItem($event)" (loadMoreHistoryEvent)="loadMoreHistory()"></app-items-table>

  <app-item-details [item]="selectedItem" [itemType]="itemsType" (updateItemEvent)="updateItem($event)"></app-item-details>
</div>
