$color-primary-main: #1565c0;
$color-primary-light: #5e92f3;
$color-primary-dark: #003c8f;

$color-secondary-main: #455a64;
$color-secondary-light: #718792;
$color-secondary-dark: #1c313a;

$color-background-dark: #e1e2e1;
$color-background-light: #f5f5f6;

$color-content-light: #ffffff;
$color-content-dark: #000000;

$color-success: #56cf3e;
$color-failure: #d12121;

$screen-md: 768px;

$nav-bar-width: 14rem;
$mobile-nav-bar-height: 4rem;