<h3>Statut</h3>
<mat-radio-group [(ngModel)]="status" class="status-list" (change)="updateStatus($event.value)">
    <ng-container *ngIf="itemType === 'order'">
        <mat-radio-button value="A commander">A commander</mat-radio-button>
        <mat-radio-button value="Panier">Panier</mat-radio-button>
        <mat-radio-button value="Commandé">Commandé</mat-radio-button>
    </ng-container>
    <ng-container *ngIf="itemType === 'repair'">
        <mat-radio-button value="A faire">A faire</mat-radio-button>
        <mat-radio-button value="Fait">Fait</mat-radio-button>
    </ng-container>
    <ng-container *ngIf="itemType === 'paint'">
        <mat-radio-button value="En attente">En attente</mat-radio-button>
        <mat-radio-button value="En peinture">En peinture</mat-radio-button>
    </ng-container>
    <mat-radio-button value="Client notifié">Client notifié</mat-radio-button>
    <mat-radio-button value="Livré">Livré</mat-radio-button>
</mat-radio-group>
    
