<h3>Statut</h3>
<select>
    <ng-container *ngIf="itemType === 'order'">
        <option disabled>A commander</option>
        <option disabled>Panier</option>
        <option disabled>Commandé</option>
        <option disabled>A commander</option>
    </ng-container>
    <ng-container *ngIf="itemType === 'repair'">
        <option disabled>A faire</option>
        <option disabled>Fait</option>
    </ng-container>
    <ng-container *ngIf="itemType === 'paint'">
        <option disabled>En attente</option>
        <option disabled>En peinture</option>
    </ng-container>
    <option disabled>Client notifié</option>
    <option disabled>Livré</option>
</select>
    
