.other-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .number-input {
    width: 90px;
  }
  
  .new-line {
    width: fit-content;
    margin-left: 16px;
    padding: 5px;
    font-style: italic;
    font-size: smaller;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    top: -15px;
    display: inline;
  
    &:hover {
        color:cornflowerblue;
    }
  }
  
  .input {
    margin-right: 10px;
  }
  
  .delete-icon {
      margin-right: 5px;
      position: relative;
      top: -9px;
      cursor: pointer;
  
      &:hover {
          color: red;
      }
  }
  
  .total-price {
    text-align: end;
  }