@import "../styles/variables";

.content {
  width: 100vw; 
  height: 100vh;
  right: 0;
  position: absolute;

  &.loggedIn {
    width: calc(100vw - #{$nav-bar-width}); 
  }
}

.shop-logo {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 10rem;
}
