@import "../../../styles/variables";

.nav-bar-cont {
    height: 100vh;
    width: $nav-bar-width;
    background-color: $color-primary-main;
    color: $color-content-light;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    float: left;

    .nav-category {
        margin: 0 0 15px 0;
        padding: 5px 0;
    }

    a, .logout, .link, .sub-link {
        cursor: pointer;
        display: flex;
        padding: 0 0 0 8px;

        &:hover {
            color: $color-background-dark;
        }
    }

    p {
        margin: 0 0 0 0.4rem;
    }

    .sub-link {
        margin: .5em 2em,
    }

    .active {
        background-color: $color-background-light;
        color: $color-primary-main;
    }
}