<nav class="nav-bar-cont">
  <div class="main-nav-cont">
    <a routerLink="/">
      <mat-icon>handyman</mat-icon>
      <p>Réparations</p>
    </a>
    <div class="create-link" (click)="openItemCreationDialog('repair')">
      <mat-icon>add_circle_outline</mat-icon>
      <p>Créer</p>
    </div>
    <a routerLink="/orders-overview">
      <mat-icon>local_shipping</mat-icon>
      <p>Commandes</p>
    </a>
    <div class="create-link" (click)="openItemCreationDialog('order')">
      <mat-icon>add_circle_outline</mat-icon>
      <p>Créer</p>
    </div>
    <a routerLink="/paints-overview">
      <mat-icon>format_paint</mat-icon>
      <p>Peintures</p>
    </a>
    <div class="create-link" (click)="openItemCreationDialog('paint')">
      <mat-icon>add_circle_outline</mat-icon>
      <p>Créer</p>
    </div>
  </div>
  <div>
    <a routerLink="/parameters">
      <mat-icon>settings</mat-icon>
      <p>Paramètres</p>
    </a>
    <div (click)="onLogout()" class="logout">
      <mat-icon>logout</mat-icon>
      <p>Déconnexion</p>
    </div>
  </div>
  
</nav>