@import "../../../styles/variables";

.nav-bar-cont {
    height: 100vh;
    width: $nav-bar-width;
    background-color: $color-primary-main;
    color: $color-content-light;
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    float: left;

    .main-nav-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
    }

    a, .logout, .create-link {
        cursor: pointer;
        display: flex;

        &:hover {
            color: $color-background-dark;
        }
    }

    p {
        margin-left: 0.4rem;
    }

    .create-link {
        margin-left: 2em;
    }
}