@import "../../../styles/variables";

.item-creation-dialog-cont {
    position: relative;

  .close-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }

  .mat-dialog-title {
    text-align: center;
    margin: 0;
  }

  .mat-dialog-content {
    max-height: 80vh;
    overflow: visible;

    mat-stepper .mat-horizontal-content-container {
      padding: 0 !important;
      overflow: visible !important;
    }
  }

  
}
