<div class="item-details">
  <ng-container *ngIf="item; else noSelection">
    <div class="first-col column">
      <app-client-info [client]="item.client"></app-client-info>
      <div class="inputs-wrapper-flex">
        <div class="input-container">
          <label for="bill-number" class="input-label">N° facture</label>
          <input
            id="bill-number"
            type="text"
            [value]="item.billRef"
            class="input small-width"
            disabled
          />
        </div>
        <div class="input-container">
          <label for="creation-date" class="input-label">Création</label>
          <input
            id="creation-date"
            type="text"
            [value]="item.createdAt | date: 'dd/MM/yy'"
            class="input small-width"
            disabled
          />
        </div>
      </div>

      <!-- <mat-form-field class="delivery-date">
        <mat-label>Date de livraison</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          value="item.deliveryDate | date: 'dd/MM/yy hh:mm'"
          [min]="minDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSeconds]="false"
          [stepMinute]="30"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field> -->

      <div class="input-container">
        <label for="delivery-date" class="input-label"
          >Date livraison
          <div class="label-icons-container">
            <button
              *ngIf="deliveryDate.dirty"
              mat-icon-button
              (click)="prepareUpdate('deliveryDate')"
              class="save-icon"
            >
              <mat-icon>save_as</mat-icon>
            </button>
            <button
              *ngIf="deliveryDate.dirty"
              mat-icon-button
              (click)="resetInput('deliveryDate')"
              class="reset-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </label>
        <div class="delivery-date-input-wrapper">
          <input
            id="delivery-date"
            [ngxMatDatetimePicker]="picker"
            [formControl]="deliveryDate"
            [min]="minDate"
            required
            class="input medium-width"
            (keyup.enter)="onEnterUp('deliveryDate')"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
        </div>

        <ngx-mat-datetime-picker
          #picker
          [showSeconds]="false"
          [stepMinute]="30"
        >
        </ngx-mat-datetime-picker>
      </div>

      <div class="input-container">
        <label for="update-date" class="input-label"
          >Dernière modification</label
        >
        <input
          id="update-date"
          type="text"
          [value]="item.updatedAt | date: 'dd/MM/yy hh:mm'"
          class="input full-width"
          disabled
        />
      </div>
    </div>

    <div class="second-col column">
      <div class="status-cont">
        <app-status-list
          [status]="item.status"
          [itemType]="itemType"
          (statusUpdatedEvent)="updateItem($event)"
        ></app-status-list>
        <app-localization-list
          *ngIf="itemType === 'repair'"
          [repair]="item"
          (updateLocalizationEvent)="updateItem($event)"
        ></app-localization-list>
      </div>

      <div *ngIf="itemType === 'paint'" class="input-container">
        <label for="color" class="input-label">Couleur</label>
        <input
          id="color"
          type="text"
          [value]="item.color !== '' ? item.color : 'Non renseignée'"
          class="input full-width"
        />
      </div>

      <div
        *ngIf="itemType === 'paint' || itemType === 'repair'"
        class="input-container"
      >
        <label for="bike-description" class="input-label">
          Description vélo
          <div class="label-icons-container">
            <button
              *ngIf="bikeDescription.dirty"
              mat-icon-button
              (click)="prepareUpdate('bikeDescription')"
              class="save-icon"
            >
              <mat-icon>save_as</mat-icon>
            </button>
            <button
              *ngIf="bikeDescription.dirty"
              mat-icon-button
              (click)="resetInput('bikeDescription')"
              class="reset-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </label>
        <input
          id="bike-description"
          type="text"
          [formControl]="bikeDescription"
          class="input full-width"
          (keyup.enter)="onEnterUp('bikeDescription')"
        />
      </div>

      <div class="input-container">
        <label for="comment" class="input-label">
          Commentaire
          <div class="label-icons-container">
            <button
              *ngIf="comment.dirty"
              mat-icon-button
              (click)="prepareUpdate('comment')"
              class="save-icon"
            >
              <mat-icon>save_as</mat-icon>
            </button>
            <button
              *ngIf="comment.dirty"
              mat-icon-button
              (click)="resetInput('comment')"
              class="reset-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </label>
        <input
          id="comment"
          type="text"
          [formControl]="comment"
          class="input full-width"
          (keyup.enter)="onEnterUp('comment')"
        />
      </div>

      <div class="input-container">
        <label for="commercialOpportunity" class="input-label">
          V+1
          <div class="label-icons-container">
            <button
              *ngIf="commercialOpportunity.dirty"
              mat-icon-button
              (click)="prepareUpdate('commercialOpportunity')"
              class="save-icon"
            >
              <mat-icon>save_as</mat-icon>
            </button>
            <button
              *ngIf="commercialOpportunity.dirty"
              mat-icon-button
              (click)="resetInput('commercialOpportunity')"
              class="reset-button"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </label>
        <input
          id="commercialOpportunity"
          type="text"
          [formControl]="commercialOpportunity"
          class="input full-width"
          (keyup.enter)="onEnterUp('commercialOpportunity')"
        />
      </div>
    </div>

    <div class="third-col column">
      <div class="expenses-table-cont">
        <app-expense-table
          [products]="item.products"
          [expenses]="item.expenses"
        ></app-expense-table>
        <mat-icon (click)="copyToClipboard()" class="clipboard-icon"
          >content_copy</mat-icon
        >
      </div>
    </div>
  </ng-container>
  <ng-template #noSelection>
    <p class="no-selection-message">Aucune selection</p>
  </ng-template>
</div>
