<mat-radio-group [(ngModel)]="clientFormSelector">
    <mat-radio-button value="existingClient" checked>Client existant</mat-radio-button>
    <mat-radio-button value="newClient">Nouveau client</mat-radio-button>
</mat-radio-group>
<form *ngIf="clientFormSelector === 'newClient'; else existingClientForm" [formGroup]="newClientForm">
    <mat-form-field appearance="fill">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstName" required placeholder="...">
      <mat-error *ngIf="firstName.hasError('required')">Prénom requis</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" required placeholder="...">
        <mat-error *ngIf="lastName.hasError('required')">Nom requis</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone" required placeholder="...">
        <mat-error *ngIf="phone.hasError('required')">Téléphone requis</mat-error>
    </mat-form-field>
  </form>
  <ng-template #existingClientForm>
    <mat-form-field appearance="fill">
        <mat-label>Nom/Prénom</mat-label>
        <input matInput placeholder="..." [value]="(selectedClient | async) ? (selectedClient | async).firstName + ' ' + (selectedClient | async).lastName : ''" [matAutocomplete]="auto" (input)="onNameSearch($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of fetchedClients | async" (click)="onClientSelected(client)">
              {{client.firstName}} {{client.lastName}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput [value]="(selectedClient | async) && (selectedClient | async).phone" disabled>
    </mat-form-field>
  </ng-template>
