.item-creation-dialog-cont {
  position: relative;

  input {
    height: 30px;
  }

  .close-icon {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
  }

  .mat-dialog-actions {
    padding: 0;
  }
}
