<form [formGroup]="newItemForm" (input)="onItemFormChange()">
  <table formArrayName="{{ expensesType }}">
    <thead>
      <th></th>
      <th>Produits/Service</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th *ngIf="itemType === 'order'">Fournisseur</th>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expensesOrProducts.controls; let i = index">
        <ng-container [formGroupName]="i">
          <td>
            <mat-icon *ngIf="!hasOneExpense" (click)="removeExpense(i)" class="delete-icon"
              >delete</mat-icon
            >
          </td>
          <td>
            <mat-form-field appearance="fill">
              <input matInput formControlName="name" required [matAutocomplete]="productAutocomplete" (input)="onProductNameChange(expense.value.name)"/>
            </mat-form-field>
            <mat-autocomplete #productAutocomplete="matAutocomplete" (optionSelected)="fillProductInfo($event.option.value, i)">
              <mat-option *ngFor="let product of (filteredProducts$ | async)" [value]="product._id">
                {{product.name}}
              </mat-option>
            </mat-autocomplete>
          </td>
          <td>
            <mat-form-field appearance="fill" class="number-input">
              <input
                matInput
                type="number"
                formControlName="price"
                required
                (change)="updateTotalPrice()"
                min="0"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" class="number-input">
              <input
                matInput
                type="number"
                formControlName="quantity"
                required
                (change)="updateTotalPrice()"
                min="1"
              />
            </mat-form-field>
          </td>
          <td *ngIf="itemType === 'order'">
            <mat-form-field appearance="fill">
              <select matNativeControl formControlName="provider" required>
                <option
                  *ngFor="let provider of providersList | async"
                  [value]="provider._id"
                >
                  {{ provider.name }}
                </option>
              </select>
            </mat-form-field>
          </td>
        </ng-container>
      </tr>
      <tr>
        <td colspan="3" class="total-price">
          Total: {{ totalPrice | currency }}
        </td>
      </tr>
    </tbody>
  </table>

  <p (click)="addExpense()" class="new-line">+ Ajouter un produit</p>

  <div class="other-inputs">
    <div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Statut</mat-label>
        <select matNativeControl formControlName="status" required>
          <option *ngIf="itemType === 'repair'" value="A faire">A faire</option>
          <option *ngIf="itemType === 'repair'" value="Fait">Fait</option>
          <option *ngIf="itemType === 'order'" value="A commander">
            A commander
          </option>
          <option *ngIf="itemType === 'order'" value="Panier">Panier</option>
          <option *ngIf="itemType === 'order'" value="Commandé">
            Commandé
          </option>
          <option *ngIf="itemType === 'paint'" value="En attente">
            En attente
          </option>
          <option *ngIf="itemType === 'paint'" value="En peinture">
            En peinture
          </option>
          <option value="Client notifié">Client notifié</option>
          <option value="Livré">Livré</option>
        </select>
      </mat-form-field>

      <mat-form-field
        *ngIf="itemType === 'repair'"
        appearance="fill"
        class="input"
      >
        <mat-label>Localisation</mat-label>
        <select matNativeControl formControlName="localization" required>
          <option value="En boutique">En boutique</option>
          <option value="Attente pièce">Attente pièce</option>
          <option value="Entrepôt">Entrepôt</option>
        </select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Date de livraison</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          formControlName="deliveryDate"
          [min]="minDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSeconds]="false"
          [stepMinute]="30"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>Description vélo</mat-label>
        <input matInput formControlName="bikeDescription" required />
      </mat-form-field>

      <mat-form-field
        *ngIf="itemType === 'paint'"
        appearance="fill"
        class="input"
      >
        <mat-label>Couleur</mat-label>
        <input matInput formControlName="color" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>Référence facture</mat-label>
        <input matInput formControlName="billRef" required />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Commentaire</mat-label>
        <input matInput formControlName="comment" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label>V+1</mat-label>
        <input matInput formControlName="commercialOpportunity" />
      </mat-form-field>
    </div>
  </div>
</form>
