@import "../../../../styles/variables";

.new-provider-form {
  display: flex;
  align-items: center;
}

.providers-list {
  max-height: 500px;
  max-width: 500px;
  overflow: scroll;
  width: fit-content;

  @media (max-width: $screen-md) {
    padding: 10px 0;
    max-height: none;
    max-width: none;
    width: 100vw;
    height: 350px;
  }

  mat-list-item {
    border-bottom: 1px solid #dddddd;
  }

  mat-list-item:nth-of-type(even) {
    background-color: #f3f3f3;
  }
}

.icons {
  cursor: pointer;
  font-size: 20px;
  color: $color-secondary-main;

  &.edit-icon:hover {
    color: $color-primary-main;
  }

  &.delete-icon:hover, &.reset-icon:hover {
    color: $color-failure;
  }

  &.save-icon:hover {
    color: $color-success;
  }
}