@import "../../../styles/variables";

.page-title {
    text-align: center;
}

.menu-content {
    padding: 10px;
    position: relative;
    height: 100%;

    @media (max-width: $screen-md) {
        padding: 10px 0;
    }
}