<h1 class="page-title">Paramètres</h1>
<mat-tab-group>
  <mat-tab label="Fournisseurs"> 
    <div class="menu-content">
      <app-manage-providers></app-manage-providers>
    </div>
  </mat-tab>
  <mat-tab label="Produits/Services">
    <div class="menu-content">
      <app-manage-expenses></app-manage-expenses>
    </div>
  </mat-tab>
  <mat-tab label="Clients">
    <div class="menu-content">
      <app-manage-clients></app-manage-clients>
    </div>
  </mat-tab>
  <mat-tab label="Mot de passe">
    <div class="menu-content">
      <app-manage-password></app-manage-password>
    </div>
  </mat-tab>
</mat-tab-group>
